@charset "UTF- 8";

a{
    color: brown;
    text-decoration: none;
}

a:hover{
    color: blue;
}

a:active{
    color: chartreuse;
}

a::before{
    content: '⇒ ';
    color: gray;
}

a::after{
    content: ' ⇐';
    color: gray;
}